.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* #map {
  width: 100vw;
  height: 100vh;
} */

.control-panel {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  /* max-width: 320px; */
  max-height: 260px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

.control-panel .title {
  grid-column: 1 / -1;
  text-align: center;
  text-decoration-line: underline;
}

.map {
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  height: 50vh;
  width: 50vw;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr minmax(375px, 1fr);
  
  /* grid-template-rows: 50px 1fr 50px; */
  grid-template-areas:
    "maps list";
  height: 100vh;
}

.brewery-list {
  margin: 5px;
  padding: 5px;
  border: 2px solid black;
  max-height: 90vh;
  overflow-y: scroll;
  text-align: center;
}

.brewery-list-city {
  line-height: 1;
  font-family: 'El Messir';

}

.brewery-card {
  /* border: 1px solid; */
  margin: 5px 5px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  outline: none;

}

.popup {
  margin: 0;
  padding: 0;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}
.mapboxgl-popup-content {
  padding: 3px !important;
  background: rgb(243, 198, 198) !important;
}
.selected {
  /* color:red; */
  background-color: rgb(156, 192, 247);
  border-radius: 5px;
}
.header {
  background-color: #f3c6f3;
  height: 6vh;
  text-align: center;
  /* font-family: 'Cinzel Decorative'; */
  font-family: 'El Messir';
  font-weight: 900;
  font-size: 5vh;
  display: grid;
  justify-items: center;
  align-items: center;
  
}

.button-container {
  display:grid;
  grid-auto-flow: column;
  grid-gap: 2px;
}

.button {
  padding: 10px 0px;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  font-weight: 700;
}
/* .input {
  padding: 10px 50px;
} */