html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.control-panel {
  max-height: 260px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #000000;
  text-transform: uppercase;
  outline: none;
}

.control-panel .title {
  grid-column: 1 / -1;
  text-align: center;
  text-decoration-line: underline;
}

.mapapp {
  max-height: 85vh;
  justify-self: center;

}

.map {
  margin: 5px;
  padding: 5px;
  /* border: 2px solid black; */
  height: 45vh;
  width: 50vw;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);

}

.home-container {
  display: grid;
  grid-template-columns: 1fr minmax(375px, 1fr);
    grid-template-areas:
    "maps list";
  height: 100vh;
}
.brewery-list {
  margin: 5px 0;
  padding: 5px;
  max-height: 85vh;
  overflow-y: scroll;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);

}

.brewery-list-city {
  line-height: 1;
  font-family: 'El Messir';

}

.brewery-card {
  margin: 5px 5px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  outline: none;

}

.popup {
  margin: 0;
  padding: 0;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
}
.mapboxgl-popup-content {
  padding: 3px !important;
  background: #ffffff !important;
}
.header {
  background-color: #e7717d;
  height: 10vh;
  text-align: center;
  font-family: 'El Messir';
  font-weight: 900;
  font-size: 8vh;
  display: grid;
  justify-items: center;
  align-items: center;
  
}

.button-container {
  display:grid;
  grid-auto-flow: column;
  /* grid-gap: 2px; */
}

.button {
  padding: 10px 0px;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
  font-weight: 700;
  border: 1px solid rgba(126,104,90,0.3);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(194,202,208,0.3);

}
.details-container {
  display: grid;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.selected {
  /* background-color: rgba(194,202,208,0.3); */
  background-color: rgb(194,185,176,0.3);
  /* border-bottom-right-radius: 0; */
  /* border-bottom-left-radius: 0; */
  border-bottom: none;
}

.brewery-card-container {
  background-color: rgb(194,185,176,0.3);
  padding: 5px;
  border-left: 1px solid rgba(126,104,90,0.3);
  border-right: 1px solid rgba(126,104,90,0.3);
  border-bottom: 1px solid rgba(126,104,90,0.3);
  min-height: 100%;

}